@import "../../styles/index.scss";

.layout {
  height: 100%;
  &__main {
    padding-left: 15%;
    padding-right: 15%;
    max-width: 1440px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    flex: 1 1 auto;
    margin-top: 4rem;
    max-width: $container-content-width;
    z-index: 5;
    padding-bottom: 5vw;
  }
}
