html {
  height: 100%;
}
#root {
  height: 100%;
}
body {
  font-family: $font-family !important;
  min-width: 76.8rem;
  padding: 0;
  height: 100%;
}

$container-content-width: 134.5rem;
$container-width: 144rem;

$footer-height: 10vh;
$navbar-height: 10vh;

$layout-gap: 3%;
