@import "../../../styles/index.scss";
.left-sidebar {
  width: 15%;
  background-color: rgb(156, 156, 174);
  z-index: 150;
  position: absolute;
  top: 8px;
  bottom: 8px;
  height: 100%;
  &__content {
    position: relative;
    top: 35%;
    color: white;
    font-weight: 500;
  }
  &__nof {
    position: relative;

    top: 2rem;
  }
  &__link {
    position: relative;
    top: 5rem;
    text-decoration: none;
    color: white;
  }
  &__link:hover {
    color: black;
  }
}
