$font-family-condensed: Roboto Condensed, Arial, Helvetica, sans-serif;
$font-family: Roboto, Arial, Helvetica, sans-serif;

$font-size-null: 0;
$font-size-xxxs: 1rem;
$font-size-xxs: 1.2rem;
$font-size-xs: 1.4rem;
$font-size-s: 1.6rem;
$font-size-m: 1.8rem;
$font-size-l: 2rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3.2rem;
$font-size-xxxl: 3.6rem;

$font-weight-bold: 700;
$font-weight-heavy: 900;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$line-height-default: 1.17;
