@import "../../../styles/index.scss";
// @import 'styles/index';

.navbar {
  z-index: 10;
  display: flex;
  position: sticky;
  align-items: center;

  &__toolbar {
    height: $navbar-height;
    justify-content: space-between;
  }
  &__link {
    font-size: 100%;
    position: relative;
    color: $primary-color;
    text-decoration: none;
    font-weight: $font-weight-bold;
    justify-content: space-between;
    margin: 5rem;
    &:hover {
      color: rgb(169, 174, 238);
    }
  }
}
