@import "../../styles/index.scss";

.layout {
  height: 100%;
  &__main {
    // background-color: $primary-color;
    padding-left: 15%;
    height: 100%;
    max-width: 1440px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    flex: 1 1 auto;
    padding-top: 4rem;
    max-width: $container-content-width;
    z-index: 5;
    padding-bottom: 5vw;
    top: 5%;
  }
  &__loader {
    position: relative;
    top: 62px;
  }
}
